[user]
  email = alienover.l.d@gmail.com
  name = Jiarong
  signingkey = <signingkey>
[credential]
  helper = osxkeychain
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = red

[core]
  editor = nvim

[diff]
  tool = nvim
[difftool "nvim"]
  cmd = nvim -d $REMOTE $LOCAL
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J' -c 'wincmd ='

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  logs = "!tmux popup -h 60% -w 60$ -E 'TERM='$TERM'; cd '$PWD';__FZF_POPUP_HEIGHT=100% popup-logs'"
  diffs = "!tmux popup -h 60% -w 60% -E 'TERM='$TERM'; cd '$PWD';__FZF_POPUP_HEIGHT=100% popup-diff'"
[safe]
  directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask
  directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core
  directory = /opt/homebrew/Library/Taps/homebrew/homebrew-services
[commit]
  gpgsign = true
[gpg]
  program = /opt/homebrew/bin/gpg
