[user]
  email = <email>
  name = <name>
  signingkey = <signingkey>
[credential]
  helper = osxkeychain

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = red

[core]
  editor = nvim

[diff]
  tool = nvim-diff
[difftool "nvim-diff"]
  cmd = nvim -d $REMOTE $LOCAL

[merge]
  tool = nvim-merge
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "nvim-merge"]
  cmd = nvim -c "DiffviewOpen"

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  logs = "!tmux-popup '__FZF_POPUP_HEIGHT=100% popup-logs'"
  diffs = "!tmux-popup '__FZF_POPUP_HEIGHT=100% popup-diff'"

  skip = update-index --assume-unchanged
  unskip = update-index --no-assume-unchanged

  gone = "!tmux-popup prune-git-branches"
  purge ="!git branch -v | grep -v '*' | awk '/[gone]/{print $1}' | xargs -r -n 1 git branch -D"
  f = fetch -ptf
  u = "!git f && git pl && git purge"
[safe]
  directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask
  directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core
  directory = /opt/homebrew/Library/Taps/homebrew/homebrew-services
[commit]
  gpgsign = true
[gpg]
  program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
