[user]
	email =
	name =
	signingkey =

[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = red

[core]
	editor = nvim
	pager = delta --diff-so-fancy | less --tabs=4 -RFX

[diff]
	tool = nvim-diff
[difftool "nvim-diff"]
	cmd = nvim -d $REMOTE $LOCAL

[merge]
	tool = nvim-merge
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvim-merge"]
	cmd = "nvim -c \"Gvdiffsplit!\" -- $MERGED"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	ps = push
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	logs = "!tmux-popup '__FZF_POPUP_HEIGHT=100% fzf-git-logs'"
	diffs = "!tmux-popup '__FZF_POPUP_HEIGHT=100% fzf-git-diff'"

	skip = update-index --assume-unchanged
	unskip = update-index --no-assume-unchanged

	ob = "!git branch -v | grep -v '*' | awk '/\\[gone\\]/{print $1}'"
	purge ="!git ob | xargs -r -n 1 git branch -D"
	f = fetch -ptf
	u = "!git f && git pl && git purge"

	unstage = "reset HEAD --"
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true

[ghq]
	root = ~/Documents/repos

# Include the extra git config for certain paths
# [includeIf "gitdir:<path prefix for custom git repos>/"]
# 	path = <git config for custom git repos>
